.contacts {
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
    margin-right: size(20px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: $ff-alumni-sans;
    font-size: size(26px);
    font-weight: 600;
    line-height: size(27px);
    letter-spacing: .03em;
    color: $color-default-white;

    .link__icon {
      color: $color-fruit-salad;
    }

    &:hover,
    &:focus {
      color: $color-default-sapphire;

      .link__icon {
        opacity: .8;
      }
    }
  }
}
