.top-wrapper {
  background: $venetian-red-to-dark-cerulean-conic-desktop;

  @include vp-1023 {
    background: $venetian-red-to-dark-cerulean-conic-tablet;
  }

  @include vp-767 {
    background: $venetian-red-to-dark-cerulean-conic-mobile;
  }
}
