mixin logo(options = {})
  - const tag = options.href ? "a" : "span";
  - const href = options.href || false;
  - const ariaLabel = tag === "a" ? options.ariaLabel || "Переход на главную страницу" : false;

  #{tag}.logo(href=href, aria-label=ariaLabel)&attributes(attributes)
    +icon("logo", 965, 310)
